<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ETCOM:etcom</key>
	<dict>
		<key>Skin:skin</key>
		<dict>
			<key>M18_Hellcat 헬캣 고증스킨:hellcat_1</key>
			<string>5.0.1:a</string>
			<key>Leopard1 레오 화증스킨:leopard1_1</key>
			<string>5.0.1:a</string>
			<key>BT 7A Green Racer:bt_7a_1</key>
			<string>5.0.1:a</string>
		</dict>
		<key>GFX:gfx</key>
		<dict>
			<key>에임 스킨 1:aim_1</key>
			<string>5.0.1:a</string>
		</dict>
		<key>SFX:sfx</key>
		<dict>
			<key>Camiyu Voice Pack 소녀톤:cami_r1</key>
			<string>5.0.1:a</string>
			<key>PC WoT GUI Sound Pack With Radio Sounds:wotpcwrs</key>
			<string>5.0.1:a</string>
		</dict>
	</dict>
</dict>
</plist>